:root {
  background-color: #15202b;
  margin: 0;
  padding: 0 2%;
  font-family: "Roboto", sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: medium;
  font-weight: 600;
  height: 58px;
  border-radius: 2px;
  background-color: #343a40;
}

li {
  list-style-type: none;
}
a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}


.list-constructor {
  border: 1px solid white;
  border-radius: 2px;
  height: 80vh;
  margin-top: 1%;
}

.list-info {
  color: white;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.5%

}

.list-row {
  box-sizing: border-box;
  border-bottom: 1px solid azure;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 0.5%
}
